$error: #f44336;
$warning: #ffa726;
$success: #66bb6a;
$info: #29b6f6;
$disabled: #A4A4A4;
$cancel: #EFEFEF;

$placeholder: #999;

$white: #FFF;
$black: #000;

$primary-text-color: #2c3e50;
$secondary-text-color: #200a85;

$borderColor: #DEDEDE;
$hoverColor: #b1b1b144;


$primary: #22ae4d;
$secondary: #55bb73;